/* Dark mode colors. */
:root {
	--sl-color-accent-low: #132922;
	--sl-color-accent: #1a7b64;
	--sl-color-accent-high: #b5d0c6;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #eceef2;
	--sl-color-gray-2: #c6c8ce;
	--sl-color-gray-3: #a0a4ae;
	--sl-color-gray-4: #545861;
	--sl-color-gray-5: #353841;
	--sl-color-gray-6: #24272f;
	--sl-color-black: #17181c;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #c8dcd5;
	--sl-color-accent: #005947;
	--sl-color-accent-high: #153a30;
	--sl-color-white: #17181c;
	--sl-color-gray-1: #24272f;
	--sl-color-gray-2: #353841;
	--sl-color-gray-3: #545861;
	--sl-color-gray-4: #888b96;
	--sl-color-gray-5: #c0c2c7;
	--sl-color-gray-6: #eceef2;
	--sl-color-gray-7: #f5f6f8;
	--sl-color-black: #ffffff;
    --sl-color-bg: #f2f0ef;
}
/* Bespoke design elements */
::selection {
	background-color: #c7e8df;
	color: #222;
}

#presentation-button {
	background: var(--sl-color-accent);
	color: #fff;
	border: 0;
	border-radius: 8px;
	padding: 8px;
	cursor: pointer;
}

.icon-prepend {
	display: inline;
	margin-right: 1rem;
}

.container {
	display: grid;
	grid-template-columns: auto auto;
	gap: 1.5rem;
}

.container > div {
	margin-top: 0;
}

.course-info-table {
	display: table;
	grid-template-columns: 25% auto;
	grid-template-rows: auto;
	grid-column-gap: 1.5rem;
	align-items: center;
}

.course-info-table .info-label {
	background: var(--sl-color-text-accent);
	padding: .25rem;
	border-radius: .25rem;
	color: var(--sl-color-text-invert);
}

.course-info-table > div {
	margin: .25rem;
	display: table-cell;
	padding: .25rem;
}
.wide-column {
	display: grid;
}

.inline-unbulleted{
	list-style-type: none;
	padding-left: .5rem;
}

.inline-unbulleted > li {
	display: inline;
}

.inline-unbulleted > li:not(:first-child) {
	margin-left: 1rem;
}

.grading-schedule tr:nth-child(even){
	background: #444;
	color: #fff;
}

.grading-schedule td {
	text-align: center;
	vertical-align: middle;
}

.icon-legend {
	list-style-type: none;
}

.icon-legend li {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.icon-legend svg {
	display: inline-block;
	margin: 0 1rem 0 0;
}

.course-schedule details {
	margin-bottom: 0;
	border-left: 0;
}

.course-schedule table {
	width: 100%;
	table-layout: fixed;
	overflow-wrap: break-word;
}

.course-schedule tr > td:first-child {
	padding: 0 1rem;
}

.course-schedule tr > td:first-child svg {
	display: block;
	margin: 0 auto;
}

.course-schedule .schedule-week {
	background: var(--sl-color-accent);
	color: var(--sl-color-text-invert);
}

.course-schedule .table-container {
	width: 100%;
}

.course-schedule svg {
	display: inline;
	margin-right: 1rem;
}

.course-schedule .unit-project {
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
}

.schedule-week td{
	padding: 8px !important;
}

.unit-project li {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.unit-project svg {
	margin-right: 1rem;
}

.slide-grid-two-column {
	display: grid;
	grid-gap: 1.5rem;
	grid-template-columns: 50% 50%;
	align-items: center;
	align-content: center;
	vertical-align: center;
	padding: 1rem;
}

@media screen and (max-width: 768px) {
	.course-info-table {
		display: grid;
	}
}