---
interface reading {
    title: string,
    url: string
}
const {readings} = Astro.props;
import { Icon } from '@astrojs/starlight/components';
---
{readings.map((entry:reading) => (
    <tr>
        <td colspan = 1><Icon name = "open-book" /></td>
        <td colspan = 2>
            <a href = {entry.url} target = "_blank">{entry.title}</a>
        </td>
    </tr>
))}